.logo{
    padding: 15px 0px;
    width: 180px;
    float: left;
}
nav{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100px;
    padding: 10px 50px;
}
nav ul li{
    float: right;
    list-style: 0;
    margin: 0;
    padding: 0;
    display: flex; 
}
nav ul li a{
    line-height: 80px;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
} 
.bagiansatu{
    background-image: url(images/gambar1.png);
    padding: 250px 70px;
}
.bagiansatu h1{
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    max-width: 1000px;
    color: white;
    text-shadow:
    -1px -1px 0 #6d6b6b,  
    1px -1px 0 #6d6b6b,
    -1px 1px 0 #6d6b6b,
    1px 1px 0 #6d6b6b;
}
.bagiansatu p{
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    max-width: 850px;
    font-size: 20px;
    color: white; 
    text-shadow:
        -1px -1px 0 #6d6b6b,  
        1px -1px 0 #6d6b6b,
        -1px 1px 0 #6d6b6b,
        1px 1px 0 #6d6b6b;
}
.btnsatu{
    border: 1px solid white;
    color: white;
    background: none;
    padding: 20px 40px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    transition: 0.8s;
}
.btnsatu:hover {
    background-color: white;
    color: black;
}
.bagiandua{
    background-image: url(images/gambar2.png);
}
.bagiandua h1{
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 70px;
    color: white;
    text-shadow:
    -1px -1px 0 #6d6b6b,  
    1px -1px 0 #6d6b6b,
    -1px 1px 0 #6d6b6b,
    1px 1px 0 #6d6b6b;
    text-align: end;
    padding-top: 400px;
    padding-right: 50px;
}
.bagiandua p{
    margin: -5px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: white; 
    text-shadow:
        -1px -1px 0 #6d6b6b,  
        1px -1px 0 #6d6b6b,
        -1px 1px 0 #6d6b6b,
        1px 1px 0 #6d6b6b;
    max-width: 1000px;
    float: right;
    text-align: end;
    padding-right: 50px;
}
.btndua{
    border: 1px solid white;
    color: white;
    background: none;
    padding: 20px 40px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.8s;
    margin-top: 25px;
    margin-left: 1210px;
    margin-bottom: 150px;
    
}
.btndua:hover {
    background-color: white;
    color: black;
}
.world{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: white;
    transform: translate(200px, -1000px);
}
.lamp{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: white;
    transform: translate();
    transform: translate(900px, -1500px);
}
.tire{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: white;
    transform: translate();
    transform: translate(930px, -1170px);
}
.merch{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: white;
    transform: translate();
    transform: translate(280px, -800px);
}
.store{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    color: white;
    text-shadow:
    -1px -1px 0 #6d6b6b,  
    1px -1px 0 #6d6b6b,
    -1px 1px 0 #6d6b6b,
    1px 1px 0 #6d6b6b;
    transform: translate(850px, -880px);
}
.gambartiga{
    padding-top: 15px;
    padding-left: 80px;
    width: 680px;
}
.gambarempat{
    padding-right: 80px;
    width: 580px;
    height: 430px;
    transform: translate(0px, -433px);   
}
.gambarlima{
    width: 580px;
    height: 430px;
    transform: translate(765px, -433px);
}
.gambarenam{
    width: 580px;
    height: 430px;
    transform: translate(-503px, 0px);
}
.gambartujuh{
    width: 665px;
    height: 430px;
    transform: translate(680px, -433px);
}
.street{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: black;
    transform: translate(250px, -880px);
}





